{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <h1>{{ video.name }}</h1>
    {% if video.author %}
        <h2>Автор:
            <a href="
                {% if video.author.profile %}
                    {% url 'profile-detail' video.author.profile.id %}
                {% endif %}
            ">
                {{ video.author.username }}
            </a>
        </h2>
    {% endif %}
    <h3>Лайков: {{ video.likes }}</h2>
    <h3>Просмотры: {{ video.videoview_set.count }}</h2>
    <h3>Просмотрено пользователями:</h3>
    {% for view in video.videoview_set.all %}
        <div> 
            {{ view.user.username }}
        </div>
    {% endfor %}
    <hr>
    <p>
        <video width="500" controls src="{{ video.file_path.url }}">
        </video>
    </p>
    <!-- Только для автора -->
    {% if request.user == video.author %}
        <a href="{% url 'video-update' video.id %}" class="btn btn-warning">Изменить</a>
        <a href="{% url 'video-delete' video.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}

    <!-- Только для авторизованного -->
    {% if request.user.is_authenticated %}
        <div class="likes-block">
            <form method="POST">
                {% csrf_token %}
                <button name="like">
                    <span>
                        <img height="20px" src="{% static 'like.svg' %}" alt="">
                        {{ video.likes }}
                    </span>
                </button>
            </form>
            <form method="POST">
                {% csrf_token %}
                <button name="dislike">
                    <span>
                        <img height="20px" src="{% static 'dislike.svg' %}" alt="">
                        {{ video.dislikes.count }}
                    </span>
                </button>
            </form>
        </div>
    {% endif %}

    <hr>
    <h2>Комментарии</h2>
    {% if request.user.is_authenticated %}
        <p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                {% if comment_form.errors %}
                    <div class="alert alert-danger">
                        {{ comment_form.errors }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Добавить комментарий</button>
            </form>
        </p>
    {% endif %}
    {% for comment in video.comment_set.all %}
        <div class="card mb-3">
            <div class="card-header">
                <span class="font-weight-bold">{{ comment.user.username }}</span>
                <span class="text-muted">{{ comment.created_by|date:"F d, Y H:i" }}</span>
            </div>
            <div class="card-body">
                <p class="card-text">{{ comment.txt }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}